@import "bootswatch/dist/lux/bootstrap.min.css";

body {
  height: 100vh;
  background-color: black;
  color: #eee;
  overflow: hidden;
}

.container {
  height: 100%;

  .main {
    padding-top: 88px;
  }
}

$options-bg: rgba(white, 0.3);

.options {
  position: absolute;
  left: 16px;
  bottom: 16px;

  background-color: $options-bg;
  padding: 16px;
  height: 40vh;
  overflow-y: scroll;

  @media screen and (max-width: 720px) {
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #ececec;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
